body{
    background-color: blue;
}
.container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    margin: 20px;
}
/*
for mobile
*/
.container * {
    padding: 10px;
    flex: 1 100%;
}

.header{
    background-color: grey;
    order: 1;
}

.container1{
    background-color: #ED55B8;
    order: 2;
}

.container2{
    background-color: #7A0696;
    order: 3;
}

.container3{
    background-color: #DE0000;
    order: 4;
}

.container4{
    background-color: #2ED15F;
    order: 5;
}

.container5{
    background-color: #468C5B;
    order: 6;
}
.footer{
    background-color: grey;
    order: 7;
}


@media all and (min-width: 600px ){
    .container1, .container2{
        flex: 1 40%;
    }
    .container3, .container5{
        flex: 1 40%;
    }
    .container4{
        order: 6;
    }
    .container5{
        order: 5;
    }

}

@media all and (min-width: 800px){
    .container1, .container2, .container3{
        flex: 1 30%;
    }
    .container4, .container5{
        flex: 1 40%;

    }
    .container4{
        order: 5;
    }
    .container5{
        order: 6;
    }

}

